*.pyc
*.csv
*.txt
/DeepLearning/HW5/torchsummary
/DeepLearning/.vscode
/DeepLearning/__HW1_DATA
/DeepLearning/__HW5_DATA
/DeepLearning/HW3/.ipynb_checkpoints/
/DeepLearning/HW4/.ipynb_checkpoints/
/FinalProjects